<main class="update-modal p-4 m-1">

    <div class="d-flex justify-content-end">
        <img (click)="activeModal.dismiss()" src="../../assets/close.svg" class="close-icon" />
    </div>

    <div *ngIf="dropdown; else headerDropped">
        <div class="d-flex">
            <img src="../../assets/icon-update-quote-list.svg" class="update-icon-dropped mb-3"/>
            <div class="mb-4 pb-1 ms-3">
                <h3 class="title mt-0 mb-1">Requests Await Your Quotes</h3>
                <p class="subsubtitle mb-2">There are more requests for the same customer with same route & cargo details.</p>
                <div class="subtitle fw-light">
                    <h6>Do you want to apply this quote to all pending requests?</h6>
                </div>
            </div>
        </div>
    </div>
    <ng-template #headerDropped>
        <div class="d-flex justify-content-center">
            <img src="../../assets/icon-update-quote-list.svg" class="update-icon mb-3"/>
        </div>
        
        <div class="text-center mb-4 pb-1">
            <h3 class="title mt-0 mb-1">Requests Await Your Quotes</h3>
            <p class="subsubtitle mb-2">There are more requests for the same customer with same route & cargo details.</p>
            <div class="subtitle fw-light">
                <h6>Do you want to apply this quote to all pending requests?</h6>
            </div>
        </div>
    </ng-template>
    
    <div class="container d-flex justify-content-between mx-2">
        <button class="show-list-container d-flex align-items-center position-relative" (click)="toggleList()">
            <div *ngIf="dropdown; else showDropIcon">
                <img src="../../assets/view_list_dropped.svg" class="show-list-svg"/>
            </div>
            <ng-template #showDropIcon>
                <img src="../../assets/view_list.svg" class="show-list-svg"/>
            </ng-template>
            <span class="show-list position-absolute">Show List</span>
        </button>
        <div class="d-flex flex-wrap justify-content-end">
            <button class="button grey border-0 rounded-1 py-1 px-5 ms-4" (click)="activeModal.dismiss()">SKIP</button>
            <button class="button green border-0 rounded-1 py-1 px-5 shadow-sm ms-4" (click)="openSuccess(success)">YES, APPLY TO ALL </button>
            <ng-template #success let-modal>
                <header class="container d-flex justify-content-between header">
                    <h3 class="container title">Update Quote</h3>
                    <img src="../../assets/close.svg"  class="close-icon mt-2"  (click)="modal.dismiss()"/>
                </header>
                <hr>
                
                <main>
                    <div class="d-flex justify-content-center">
                        <img src="../../assets/icon-update-quote-request-submited.svg" class="success-icon mb-3"/>
                    </div>
                    <h6 class="container success-desc mb-3">
                        Your Request has been Submited Successfully!
                    </h6>
                    <div class="d-flex justify-content-center mb-4 container">
                        <button class="button green border-0 rounded-1 py-1 success-button" (click)="modal.dismiss();activeModal.dismiss()">Would you like to proceed?</button>
                    </div>
                </main>
            </ng-template>
        </div>
    </div>

</main>

<div *ngIf="dropdown">
    <div class="dropped-border mb-3"></div>
</div>



<div *ngIf="dropdown">
    <main class="main mx-4">
        
        <body>
            <label class="container subtitle-drop fw-normal d-flex mb-3">
                <div (click)="selectAll()" class="check-bg">
                    <div [ngClass]="select_all ? 'checked' : 'unchecked'"></div>
                </div>
                <h6 class="ms-2">SELECT ALL</h6>
            </label>
            
            <div class="scrollable">
    
                <div class="container">
                    <div class="table-responsive">
                        <table class="table table-borderless table-width table-stripe">
                            <thead class="subtitle-drop position-sticky fs-12">
                                <th class="px-1"></th>
                                <th class="px-2 py-3">REQUEST NO</th>
                                <th class="px-2 py-3">ORIGIN / DESTINATION</th>
                                <th class="px-2 py-3">CUSTOMER</th>
                                <th class="px-2 py-3">SHIPPING LINE</th>
                                <th class="px-2 py-3">CARGO DETAIL</th>
                                <th class="px-2 py-3">CUT OFF.</th>
                            </thead>
                            <tbody class="fs-12">
                                <tr *ngFor="let entry of reqs; index as i">
                                    <td class="px-1">
                                        <div class="d-flex justify-content-center">
                                            <div class="check-bg" (click)="toggler(i)">
                                                <div id="check-{{i}}" [ngClass]="checkboxes[i] ? 'checked' : 'unchecked'"></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="request">
                                        <div class="req-id">HMQ-2206200000005</div>
                                        <p class="req-by lh-1">Requested by Asif Sattar on 20 Jun, 2022 6:50 (GMT)</p>
                                    </td>
                                    <td class="origin-dest">
                                        <label class="d-flex">
                                            <img class="flag" src="../../assets/pak.svg"/>
                                            <div class="ps-1">
                                                <div class="flag-title">PK KHI</div>
                                                <div class="flag-subtitle">Karachi Pakistan</div>
                                            </div>
                                        </label>
                                        <label class="d-flex ps-2">
                                            <div class="line"></div>
                                            <img class="arrow" src="../../assets/sar.svg"/>
                                            <div class="d-flex mt-1">
                                                <img class="flag" src="../../assets/sa.svg"/>
                                                <div class="ps-1">
                                                    <div class="flag-title">SA DMM</div>
                                                    <div class="flag-subtitle">Dammam Saudi Arabia</div>
                                                </div>
                                            </div>
                                        </label>
                                    </td>
                                    <td>
                                        <div class="d-flex customer">
                                            <img src="../../assets/atco.png" class="icon" />
                                            <div class="subtitle-drop ms-2 fw-normal fs-12">Atco Laboratories</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex shipping-line">
                                            <img src="../../assets/CMACGM.png" class="icon" />
                                            <div class="subtitle-drop ms-2 fw-normal fs-12">CMA CGM Shipping</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="fw-normal m-0 mb-1 container-title">Container</div>
                                        <div class="subtitle-drop lh-1 fs-12">
                                            <p>Standard 20' x 1</p>
                                            <p>Standard 40' x 1</p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="subtitle-drop fs-12">23 May 2022</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
    
            </div>
        </body>
    
    </main>
</div>